chains:
  - id: 1
    name: Ethereum
    is_enabled: true
  - id: 56
    name: Binance Smart Chain
    is_enabled: true
tokens:
  - symbol: ETH
    is_enabled: true
    by_chain:
      1:
        is_enabled: true
        decimals: 18
        address: '0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE'
      56:
        is_enabled: true
        decimals: 18
        address: '0x2170Ed0880ac9A755fd29B2688956BD959F933F8'
  - symbol: BNB
    is_enabled: true
    by_chain:
      1:
        is_enabled: false
        decimals: 18
        address: '0xB8c77482e45F1F44dE1745F52C74426C631bDD52'
      56:
        is_enabled: true
        decimals: 18
        address: '0xEEeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'
buckets:
  - from_chain_id: 1
    to_chain_id: 56
    from_token: ETH
    to_token: BNB
    is_smart_contract_deposit_supported: true
    token_amount_from_usd: 0.1
    token_amount_to_usd: 100
bungee:
    base_url: 'https://api.bungee.exchange'
    api_key: 'my-api'
covalent:
    base_url: 'https://api.bungee.exchange'
    api_key: 'my-api'
coingecko:
    base_url: 'https://api.coingecko.com'
infra:
    redis_url: 'redis://localhost:6379'
    rabbitmq_url: 'amqp://localhost:5672'
    mongo_url: 'mongodb://localhost:27017'
is_indexer: true
